In [1]:
# Imports & metric helpers
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
def evaluate(y_true, y_pred):
    rmse = mean_squared_error(y_true, y_pred, squared=False)
    r2 = r2_score(y_true, y_pred)
    return rmse, r2

In [ ]:
# Tabular-only baseline 
tabular_rmse = 117699.03
tabular_r2 = 0.8896

# Image-only model 
image_rmse = 517667.21
image_r2 = -0.7985

# Multimodal fusion (best attempt )
fusion_rmse = 426696.07
fusion_r2 = -0.2938

In [6]:
results_df = pd.DataFrame({
    "Model": ["Tabular Only", "Image Only", "Multimodal Fusion"],
    "RMSE": [tabular_rmse, image_rmse, fusion_rmse],
    "R2": [tabular_r2, image_r2, fusion_r2]
})

results_df

               Model       RMSE      R2
0       Tabular Only  117699.03  0.8896
1         Image Only  517667.21 -0.7985
2  Multimodal Fusion  426696.07 -0.2938